<h3>Add Link</h3>
<div>
  <label>
    Title
    {{input value=title placeholder='Title'}}
  </label>
</div>
<div>
  <label>
    Url
    {{input value=url placeholder='Url'}}
  </label>
</div>
<div>
  <label>
    Description
    {{input value=description placeholder='Description'}}
  </label>
</div>
<button {{action 'addLink'}}>Submit</button>
{{outlet}}
